{% extends "::layout.html.twig" %}

{% block title %}
    {{ application_name }} - Liste des r么les 
{% endblock %}

{% block body %} 

    <h2>Liste des r么les</h2>

    <a href="{{ path('admin_role_add') }}" style="text-decoration: none;" ><input type="button" value="Ajouter un r么le"/></a>

    <table id="RoleTab" style="border: solid black 1px;">
		<thead>
			<tr>
			    <th> <!-- icone modifier --> </th>
				<th>Nom</th>
			</tr>
		</thead>    
		<tbody>
          {% for role in rolesList %}
              <tr>
              <td><a href="{{ path('admin_role_modify',{"id": role.id}) }}" ><img src="{{ asset('bundles/adminuser/images/modify.png') }}" title="Modifier le r么le"  style="width:40%;" /></a></td>
              <td>{{ role.name }}</td>
              </tr>
          {% endfor %}
		</tbody>
    </table>

{% endblock %}
