{% extends "::layout.html.twig" %}

{% block title %}
    {{ application_name }} - {{ description }}
{% endblock %}
 
{% block body %}
 
  <h2>{{ description }}</h2>
{{ parameter_id }}
  <div class="well">
  <form action="{{ path('project_manager_possiblevalue_add',{"parameter_id":form.vars.parameter.id} ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

  <p>
    <a href="{{ path(index_route,{"parameter_id":parameter.id}) }}" class="btn">Retour</a>
  </p>
 
{% endblock %}